@tailwind base;
@tailwind components;

.container {
    @apply max-w-6xl mx-auto px-6 lg:px-8;
}
.container .container {
    @apply w-full px-0 lg:px-0;
}
.font-headline {
    @apply font-black text-et-navy tracking-wide;
}
.prose {
    @apply max-w-none;
}

@tailwind utilities;

.clickable {
    position: relative;
}
.clickable a::after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
